@font-face {
  font-family: 'Montserrat';
  src: url('static/fonts/Montserrat.ttf') format('truetype');
  font-variation-settings: 'wght' 400;
}

@font-face {
  font-family: 'Fraunces';
  src: url('static/fonts/Fraunces.ttf') format('truetype');
  font-variation-settings: 'wght' 400;
}

@custom-media --lg (width >= 768px);

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Color pallette */
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --darkblue: hsl(212, 21%, 14%);
  --grayblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  font-family: 'Fraunces';
  font-size: 14px;
}

body {
  background-color: var(--cream);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* https://ismamz.github.io/postcss-utilities/docs#position */
.attribution {
  @util position(absolute null 0px 0px 0px);
}

.card {
  max-width: 320px;
  background-color: var(--white);
  overflow: hidden;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;

  @media screen and (--lg) {
    flex-direction: row;
    max-width: 546px;
  }
}

.card .details {
  margin: 1.2rem;

  @media screen and (--lg) {
    margin: 2rem;
  }

  .tag {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5ch;
    color: var(--grayblue);
  }

  .title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1em;
  }

  .description {
    font-family: 'Montserrat';
    color: var(--grayblue);
    line-height: 1.6rem;
    font-size: 1rem;
  }

  .pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    .active {
      font-size: 2rem;
      font-weight: 700;
      color: var(--darkcyan);
    }

    .inactive {
      padding-left: 1rem;
      text-decoration: line-through;
      color: var(--grayblue);
    }
  }

  button {
    background-color: var(--darkcyan);
    color: var(--white);
    font-weight: 700;
    border: none;
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    ::before {
      content: url('/images/icon-cart.svg');
      padding-right: 1em;
    }
  }

  /* add bottom margin to all subcomponents */
  > :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.card img {
  content: url('images/image-product-mobile.jpg');
  max-width: 100%;

  @media screen and (--lg) {
    content: url('images/image-product-desktop.jpg');
    max-width: 50%;
  }
}
